
header {
    background: rgb(255, 0, 0);
    color: white;
    padding: 20px;

}

/* base styles */

h1 {
    font-size: 21px;
}

main {
    background-color: black;
    color: greenyellow;
    font-size: 20px;
} 

body {
    background-color: bisque;
}

